@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

<div class="text-center">
    <h1 class="display-4">Welcome @ViewBag.pageName</h1>
    <p>Learn about @ViewBag.value <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
